/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.selectize-input{
	height: calc(3.5rem + 2px);
	padding: 18px !important;
}
.hero-section{
    background: #414141 !important;
}
.featured-section{
    background: #ffdc74 !important;
}
.hero-section h6{
    color: #ffdc74 !important;
}
.section-overlay{
	background-image: linear-gradient(15deg, #414141 0%, #414141 100%);
}
.selectize-control.multi .selectize-input.has-items {
	overflow-y: scroll;
}
.time_content {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 60px;
  overflow-y: auto;
  height: 445px;
  align-content: flex-start;
}
/*.custom-block-overlay{
	min-height: 375px !important;
}*/
.formated_time_l,
.formated_time_r {
  background: #ffdc74;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: calc(50% - 5px); /* Half of the container's width minus half of the gap */
  font-size: 13px;
  border-radius: 5px;
  padding: 5px;
}
.timestamp_content {
 	text-align: center;
    background: #ffdc74;
    padding: 10px;
    font-size: 15px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
}
.custom-block-overlay-text {
	justify-content: center;
}
.copy_clipboard{
	cursor: pointer;
}

[data-tooltip] {
  display: inline-block;
  position: relative;

  --carat-size: 5px;
  --offset: 0.5rem;

  --tooltip-position: calc(100% + var(--offset));
  --carat-position: calc(100% + var(--offset) - var(--carat-size) / 2);

  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

  &::before {
    content: "";
    background-color: black;
    height: var(--carat-size);
    width: var(--carat-size);
    opacity: 0;
  }

  &::after {
    content: attr(data-tooltip);
    color: hsl(60 80% 80%);
    background-color: black;
    padding: 0.3rem;
    border-radius: 4px;
    min-width: 10rem;
    text-align: left;
    z-index: 10;
    opacity: 0;
  }

  /* exposes on hover and focus (when focus is obtained 
     via keyboard) */
  &:hover::before,
  &:hover::after,
  &:focus-within::before,
  &:focus-within::after {
    display: block;
    opacity: 1;
    pointer-events: unset;
  }

  &[data-tooltip-anchor="right"]::before {
    left: var(--carat-position);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="right"]::after {
    left: var(--tooltip-position);
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-tooltip-anchor="left"]::before {
    right: var(--carat-position);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="left"]::after {
    right: var(--tooltip-position);
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-tooltip-anchor="top"]::before {
    bottom: var(--carat-position);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="top"]::after {
    bottom: var(--tooltip-position);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-tooltip-anchor="bottom"]::before {
    top: var(--carat-position);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="bottom"]::after {
    top: var(--tooltip-position);
    left: 50%;
    transform: translateX(-50%);
  }
}
.head_nav a, .no_data{
	color:#fff !important;
}
.nav-link{
	cursor: pointer;
}
.date_diff_content{
	display: none;
}
.submit_diff_time{
	background: #414141;
    color: white;
}
.submit_diff_time:hover{
	background: #878686;
}
.datediff{
	margin-bottom: 20px;
}
.time_diff_text,.time_diff_text p{
	color:#fff;
	font-size: 14px;
	margin-bottom: 5px;
}
.date_dif_inner{
	justify-content: left;
}

@media screen and (max-width: 768px) {
  /* Your mobile-specific styles go here */
  .time_content{
  	height: 260px;
  }
  .custom-block-overlay{
  	min-height: 366px;
  }
}